<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>


<% if current_user.token %>
  <h1>Github Information</h1>
  <section class="github-info">
    <% if @facade.repos  %>
    <section>
      <h2>Github Repositories</h2>
      <% @facade.repos.first(5).each do |repo|  %>

      <div class="repo">
        Repo Name:<%= repo.name  %>
        Url: <a href="<%= repo.url  %>"> <%= repo.url %></a>
      </div>
      <% end  %>
    </section>
    <% end %>


    <% if @facade.followers %>
    <h2>Followers</h2>
    <section class="followers">
      <%@facade.followers.each do |follower|  %>
      <div class="follower">
        User Name:<a href="<%= follower.url  %>" class="user-link"> <%= follower.login %></a>
        <% if follower.friendable? %>
      </br><%= link_to "Add as Friend", new_friendship_path(:friend_uid => follower.uid), method: :post %>
        <% end %>
      </br>
      </br>
      </div>
      <% end %>
      </section>
    <% end %>

    <% if @facade.following %>
    <h2>Following</h2>
    <section class="following">
      <%@facade.following.each do |follower|  %>

      <div class="follower">
      User Name:<a href="<%= follower.url  %>" class="user-link"> <%= follower.login %></a>
        <% if follower.friendable? %>
        </br><%= link_to "Add as Friend", new_friendship_path(:friend_uid => follower.uid), method: :post %>
        <% end %>
        </br>
        </br>
      </div>
      <% end %>
      </section>

      <section class="friends">
        <h2>Friends</h2>

        <% unless current_user.friends.empty? %>
        <% current_user.friends.each do |friend| %>
          <div class="friend" id=user-<%= friend.id %>>
            <%= friend.first_name %>
            <%= friend.last_name %>
            </br>
          </div>
        <% end %>
        <% else %>
          You have no friends
        <% end %>

      </section>
    <% end %>

  </section>
  <% else %>
    <%= link_to "Connect to Github", auth_path %>
  <% end %>

</section>
